# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.csv
data/*.tsv

# Logs
*.log

# Other system files
.DS_Store
